@tailwind base;
@tailwind components;
@tailwind utilities;

.img-card{
  max-height: 300px;
  width: 200px;
  margin: 20px;
  
}

.m-card{
  max-width: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.list-container{
  display: flex;
  width: 90vw;
  gap: 10px;
  flex-wrap: wrap;
  margin: 0 auto;
  align-content: center;
  justify-content: center;
}

.text-center{
  text-align: center;
}